@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Overpass&display=swap');

.content {
    margin-top: 150px;
    display:flex;
    justify-content:center;
}

.portrait {
    /* position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: inline;
    border: 2px solid black;
    margin-left: 30%;
    float: left;
    margin-top: 150px; */
    height: 750px;
    width: 550px;
    border: 2px solid black;
    margin-left: 10%;
    float: right;
}

.text {
    display: inline;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
    margin-left: 2%;
    margin-top: 5%;
    max-height: 20vh;
    max-width: 700px;
}

.text span {
    font-size: 5rem;
    color: white;
    background: black;
}