@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Overpass&display=swap');

.title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-top: 5%;
    font-family: 'Manrope', sans-serif;
}

.btn {
    display: inline-flex;
    text-align: center;
    transform: translateY(200%);
    line-height : 5px;
}

.projects {
    text-decoration: none;
    display: inline;
    text-align: center;
    float: left;
    font-size: 2rem;
    margin-right: 20px;
    cursor: pointer;
    /* background: purple; */
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif;
}

.resume {
    text-decoration: none;
    display: inline;
    text-align: center;
    float: right;
    font-size: 2rem;
    margin-left: 20px;
    cursor: pointer;
    /* background-color: purple; */
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif;
}

.projects:hover {
    opacity: 1;
    background: rgb(80, 79, 79);
    text-decoration: none;
}

.resume:hover {
    opacity: 1;
    background: rgb(80, 79, 79);
}

.grid {
    display: grid;
    height: 400px;
    width: 100%;
    transform: translateY(60%);
  }