.title {
    font-size: 2rem;
    color: skyblue;
    font-weight: bold;
    width: 100%;
    /* text-align: center; */
}

.portrait {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0 auto;
    display: absolute;
    align-items: center;
    top: 50%;
    transform: translateY(50%);
}

.text {
    text-align: right;
    float: right;
}